# Support Vector Machine (SVM)
* SVC= classification
* SVR = regression

In [30]:
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix, accuracy_score

from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, r2_score

# Iris classification

## Import dataset

In [31]:
iris = pd.read_csv("https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv")
iris.columns

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

## Cleaning

In [32]:
X = iris.drop('variety', axis=1)
Y = iris['variety']

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3)

model = SVC()
model.fit(X_train,Y_train)

SVC()

In [33]:
Y_pred = model.predict(X_test)

## Validation

In [34]:
confusion_matrix(Y_test,Y_pred)

array([[15,  0,  0],
       [ 0, 15,  1],
       [ 0,  0, 14]])

In [35]:
accuracy_score(Y_test,Y_pred)

0.9777777777777777

# Boston regression

In [40]:
boston =pd.read_csv("https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/csv/MASS/Boston.csv")
boston.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [41]:
boston.drop('Unnamed: 0',axis=1,inplace=True)

In [42]:
boston.columns

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

In [43]:
X = boston.drop('medv',axis=1)
Y = boston['medv']

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3)

model = SVR()
model.fit(X_train,Y_train)

SVR()

In [44]:
Y_pred = model.predict(X_test)

mean_squared_error(Y_test,Y_pred)

70.30258493688852

In [45]:
r2_score(Y_test,Y_pred)

0.1998891014610641

# Several models

In [46]:
ion = pd.read_csv('./data/ionosphere.data', header=None)
ion.head()

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,g
1,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,b
2,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,g
3,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,b
4,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,g

In [47]:
ion.columns = ['A1',
               'A2',
               'A3',
               'A4',
               'A5',
               'A6',
               'A7',
               'A8',
               'A9',
               'A10',
               'A11',
               'A12',
               'A13',
               'A14',
               'A15',
               'A16',
               'A17',
               'A18',
               'A19',
               'A20',
               'A21',
               'A22',
               'A23',
               'A24',
               'A25',
               'A26',
               'A27',
               'A28',
               'A29',
               'A30',
               'A31',
               'A32',
               'A33',
               'A34',
               'A35',]

In [48]:
x = ion.drop('A35', axis=1)
y = ion['A35']

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=0)

In [53]:
# Decision Tree 
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
accuracy_score(y_test, y_pred)

0.8867924528301887

In [51]:
# Random Forrest
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()
rfc.fit(x_train, y_train)
y_pred = rfc.predict(x_test)

accuracy_score(y_test, y_pred)

0.9339622641509434

In [52]:
# SVC 
svc = SVC()
svc.fit(x_train,y_train)
y_pred = svc.predict(x_test)
accuracy_score(y_test, y_pred)

0.9528301886792453

## Cancer

In [54]:
can = pd.read_csv('./data/lung-cancer.data', header=None)
can.head()

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
0,1,0,3,0,?,0,2,2,2,1,...,2,2,2,2,2,1,1,1,2,2
1,1,0,3,3,1,0,3,1,3,1,...,2,2,2,2,2,2,2,1,2,2
2,1,0,3,3,2,0,3,3,3,1,...,2,2,2,2,2,2,2,2,1,2
3,1,0,2,3,2,1,3,3,3,1,...,2,2,2,2,2,2,2,2,2,2
4,1,0,3,2,1,1,3,3,3,2,...,2,2,2,2,2,2,2,1,2,2

In [55]:
can.dtypes

0      int64
1      int64
2      int64
3      int64
4     object
5      int64
6      int64
7      int64
8      int64
9      int64
10     int64
11     int64
12     int64
13     int64
14     int64
15     int64
16     int64
17     int64
18     int64
19     int64
20     int64
21     int64
22     int64
23     int64
24     int64
25     int64
26     int64
27     int64
28     int64
29     int64
30     int64
31     int64
32     int64
33     int64
34     int64
35     int64
36     int64
37     int64
38    object
39     int64
40     int64
41     int64
42     int64
43     int64
44     int64
45     int64
46     int64
47     int64
48     int64
49     int64
50     int64
51     int64
52     int64
53     int64
54     int64
55     int64
56     int64
dtype: object

# Cleaning

In [56]:
can.columns = ['A1',
               'A2',
               'A3',
               'A4',
               'A5',
               'A6',
               'A7',
               'A8',
               'A9',
               'A10',
               'A11',
               'A12',
               'A13',
               'A14',
               'A15',
               'A16',
               'A17',
               'A18',
               'A19',
               'A20',
               'A21',
               'A22',
               'A23',
               'A24',
               'A25',
               'A26',
               'A27',
               'A28',
               'A29',
               'A30',
               'A31',
               'A32',
               'A33',
               'A34',
               'A35',
               'A36',
               'A37',
               'A38',
               'A39',
               'A40',
               'A41',
               'A42',
               'A43',
               'A44',
               'A45',
               'A46',
               'A47',
               'A48',
               'A49',
               'A50',
               'A51',
               'A52',
               'A53',
               'A54',
               'A55',
               'A56',
               'A57']

In [57]:
columns = ['A5', 'A39']
for column in columns:
    can.drop(can[can[column] == '?'].index, inplace=True)

can.dtypes

A1      int64
A2      int64
A3      int64
A4      int64
A5     object
A6      int64
A7      int64
A8      int64
A9      int64
A10     int64
A11     int64
A12     int64
A13     int64
A14     int64
A15     int64
A16     int64
A17     int64
A18     int64
A19     int64
A20     int64
A21     int64
A22     int64
A23     int64
A24     int64
A25     int64
A26     int64
A27     int64
A28     int64
A29     int64
A30     int64
A31     int64
A32     int64
A33     int64
A34     int64
A35     int64
A36     int64
A37     int64
A38     int64
A39    object
A40     int64
A41     int64
A42     int64
A43     int64
A44     int64
A45     int64
A46     int64
A47     int64
A48     int64
A49     int64
A50     int64
A51     int64
A52     int64
A53     int64
A54     int64
A55     int64
A56     int64
A57     int64
dtype: object

In [58]:
for column in can.select_dtypes(include='object'):
    can[column] = can[column].astype('int64')
can.dtypes

A1     int64
A2     int64
A3     int64
A4     int64
A5     int64
A6     int64
A7     int64
A8     int64
A9     int64
A10    int64
A11    int64
A12    int64
A13    int64
A14    int64
A15    int64
A16    int64
A17    int64
A18    int64
A19    int64
A20    int64
A21    int64
A22    int64
A23    int64
A24    int64
A25    int64
A26    int64
A27    int64
A28    int64
A29    int64
A30    int64
A31    int64
A32    int64
A33    int64
A34    int64
A35    int64
A36    int64
A37    int64
A38    int64
A39    int64
A40    int64
A41    int64
A42    int64
A43    int64
A44    int64
A45    int64
A46    int64
A47    int64
A48    int64
A49    int64
A50    int64
A51    int64
A52    int64
A53    int64
A54    int64
A55    int64
A56    int64
A57    int64
dtype: object

## Model training + comparison

In [69]:
x = can.drop('A1', axis=1)
y = can['A1']

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=0)

In [70]:
# Decision tree

model = DecisionTreeClassifier()
model.fit(x_train,y_train)

y_pred = model.predict(x_test)
accuracy_score(y_test, y_pred)

0.5555555555555556

In [71]:
# SVC
svc = SVC()
svc.fit(x_train,y_train)
y_pred = svc.predict(x_test)
accuracy_score(y_test, y_pred)

0.4444444444444444

In [72]:
# Random Forrest
rfc = RandomForestClassifier()
rfc.fit(x_train, y_train)
y_pred = rfc.predict(x_test)
accuracy_score(y_test, y_pred)

0.5555555555555556

# Wine Quality

* https://archive.ics.uci.edu/ml/datasets/Wine+Quality

In [93]:
wine = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv',sep=';')
wine = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv',sep=';')
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [94]:
wine.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

In [95]:
wine.shape

(4898, 12)

In [96]:
x = wine.drop('quality', axis=1)
y = wine['quality']

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=0)

In [97]:
# Decision tree

model = DecisionTreeClassifier()
model.fit(x_train,y_train)

y_pred = model.predict(x_test)
accuracy_score(y_test, y_pred)

0.5687074829931973

In [98]:
# SVC
svc = SVC()
svc.fit(x_train,y_train)
y_pred = svc.predict(x_test)
accuracy_score(y_test, y_pred)

0.4306122448979592

In [99]:
# Random Forrest
rfc = RandomForestClassifier()
rfc.fit(x_train, y_train)
y_pred = rfc.predict(x_test)
accuracy_score(y_test, y_pred)

0.6537414965986394